<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ProjectConfiguration>
<qtcreator>
 <data>
  <variable>Disabled</variable>
  <value type="bool">false</value>
 </data>
 <data>
  <variable>ProjectManager.CustomPostDeploySteps</variable>
  <valuemap type="QVariantMap"/>
 </data>
 <data>
  <variable>ProjectManager.CustomPreDeploySteps</variable>
  <valuemap type="QVariantMap"/>
 </data>
 <data>
  <variable>ProjectManagerSettings</variable>
  <valuemap type="QVariantMap">
   <valuemap type="QVariantMap" key="ApplicationSettings">
    <value type="QString" key="DeployDirectory">C:/CDPStudioWorkspace/deployments/systems/CDP_4.11_Windows_x86_64-bit/AntiBacklash/TestGUI</value>
    <value type="QString" key="DeviceId">Desktop Device</value>
    <value type="QString" key="TargetFriendlyName">Windows x86 64-bit</value>
   </valuemap>
  </valuemap>
 </data>
</qtcreator>
